.card-body
{
    background-color: lavender;
    text-align: center;
    height: 70px;
}
.alert
{
    text-align: center;
}
.img
{
    text-align: center;
}
.bt
{
    text-align: center;
}